Chatroom/obj
Chatroom/bin
Chatroom.Service/obj
Chatroom.Service/bin
Chatroom.Infrastructure/obj
Chatroom.Infrastructure/bin
Chatroom.Domain/obj
Chatroom.Domain/bin
Chatroom.Domain.Tests/bin
Chatroom.Domain.Tests/obj
Chatroom.Infrastructure.Tests/bin
Chatroom.Infrastructure.Tests/obj
*/bin
*/obj
